.auth {
  border-radius: 25px;
  background-color: #ffffff;
  width: 100%;
  max-width: 600px;
  padding: 30px;
  &__container {
    &__wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      &__heading {
        font-size: 32px;
        text-align: center;
      }
    }
  }
}
